serveur_distant/node-red/flows_m2m-linux.js
[{"type":"tab","id":"90e60dde.0906a8","label":"mqtt_to_mongodb"},{"id":"7c503e94.f153d","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"71e9f8cf.f6707","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"M2M","name":""},{"id":"d46c501c.ac048","type":"mqtt in","name":"","topic":"smokedetector","broker":"7c503e94.f153d","x":132,"y":194,"z":"90e60dde.0906a8","wires":[["ef2eb193.e9c29"]]},{"id":"ef2eb193.e9c29","type":"function","name":"timestamp","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\nstate = msg.payload;\nmsg.payload = {};\nmsg.payload.state = state;\nmsg.payload.timestamp = new Date().getTime();\n\nreturn msg;","outputs":"1","x":341,"y":193,"z":"90e60dde.0906a8","wires":[["d9cb5470.71235"]]},{"id":"d9cb5470.71235","type":"mongodb out","mongodb":"71e9f8cf.f6707","name":"","collection":"smokedetector","payonly":true,"operation":"store","x":626,"y":163,"z":"90e60dde.0906a8","wires":[]}]